
  <%= render 'bookings/partials/search'%>

  <div class="col-md-9 col-md-offset-1 search-alert">
    <% if @bookings.present? %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>StartTime</th>
          <th>End Time</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.name %></td>
            <td><%= booking.email %></td>
            <td><%= booking.phone %></td>
            <td><%= booking.start_time %></td>
            <td><%= booking.end_time %></td>
          </tr>
        <% end %>
       </tbody>
      </table>
      <% else %>
        <b>No Bookings available for the day.</b>
    <% end %>
  </div>