<div class="col-md-9 col-md-offset-2">
  <% if @bookings.present? %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Start_Time</th>
        <th>End_Time</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.name %></td>
          <td><%= booking.email %></td>
          <td><%= booking.phone %></td>
          <td><%= booking.start_time %></td>
          <td><%= booking.end_time %></td>
        </tr>
      <% end %>
     </tbody>
    </table>
<% end %>
</div>