
<%= form_tag search_bookings_path, method: :post do %>
  <%= text_field_tag 'booking-date', nil, class: :datepicker %>
  <%= submit_tag 'Search' %>
<% end %>



<% if @available_slots.present? %>
  <% @available_slots.each do |slot| %>
    <div class="slot">
      <%= slot.start_time %> -- <%= slot.end_time %>
      <%= link_to 'Book Now', new_booking_path(slot_id: slot.slot_id, booking_date: @booking_date) %>
    </div>
  <% end %>
<% end %>