<div class="center">
  <%= render 'bookings/partials/search'%>


  <div class="col-md-6">
    <div class="panel" class="vertical-space"></div>
  </div>

  <div class="col-md-9 col-md-offset-2">
    <% if @available_slots.present? %>
      <% @available_slots.each do |slot| %>
        <div class="<%= @bookings_presenter.get_class(slot)%>">
          <span class="timings">
            <%= @bookings_presenter.format_time(slot.start_time) %> -- <%= @bookings_presenter.format_time(slot.end_time) %>
          </span>
          <%= @bookings_presenter.get_booking_button(slot, @booking_date) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
