<div class="center">
  <%= render 'bookings/partials/search'%>

  <div class="col-md-6">
    <div class="panel" class="vertical-space"></div>
  </div>

  <div class="col-md-9 col-md-offset-2">
    <% if @available_slots.present? %>
      <% @available_slots.each do |slot| %>
        <div class="<%= @bookings_presenter.get_class(slot)%>">
          <%= slot.start_time %> -- <%= slot.end_time %> -- <%= slot.booking_id%>
          <%= link_to 'Book Now', new_booking_path(slot_id: slot.slot_id, booking_date: @booking_date) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
