
  <div class="col-md-12 col-md-offset-3">
  <% errors = @booking.errors.messages %>

  <%= form_for @booking do |f|  %>
      <%= fields_for  @booking.customer do |c| %>

        <div class="row">
          <div class="form-group col-xs-5 col-lg-4">
              <%= label(:customer, :name) %>
              <%= c.text_field :name, class: "form-control" %>
              <span class="error"><%= errors[:name].first unless errors[:name].blank? %></span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-5 col-lg-4">
              <%= label(:customer, :email) %>
              <%= c.text_field :email, class: "form-control" %>
              <span class="error"><%= errors[:email].first unless errors[:email].blank? %></span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-5 col-lg-4">
              <%= label(:customer, :phone) %>
              <%= c.text_field :phone, class: "form-control" %>
              <span class="error"><%= errors[:phone].first unless errors[:phone].blank? %></span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-5 col-lg-4">
              <%= label(:customer, :age) %>
              <%= c.text_field :age, class: "form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-5 col-lg-4">
              <%= label(:customer, :address) %>
              <%= c.text_area :address, class: "form-control" %>
          </div>
        </div>
      <% end %>

      <%= f.hidden_field :slot_id, value: @booking.slot_id %>
      <%= f.hidden_field :booking_date, value: @booking.booking_date %>

      <div class="form-group row col-md-offset-1">
        <%= f.submit 'Book My Slot',class: "btn btn-success" %>
      </div>

    <% end %>
  </div>
