<!DOCTYPE html>
<html>
<head>
  <title>OnlineBarberShop</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Barber Shop', root_path, class: 'navbar-brand' %>

    </div>
    <ul class="nav navbar-nav">
      <li class='active'> <%= link_to 'Home', root_path %></li>
      <li><%= link_to 'All Bookings', bookings_list_bookings_path, class: 'active' %> </li>
    </ul>
  </div>
</nav>
<div class="center">
  <%= yield %>
</div>

</body>
</html>
